/* CSS Document */

.topnav{
font:Verdana, Arial, Helvetica, sans-serif ;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
}
a.topnav:hover{
font:Verdana, Arial, Helvetica, sans-serif ;
font-size:12px;
color: #CCCCCC;
text-decoration: underline;
}
.left_line
{
border-left:1px solid #E6E6E6;
}
.right_line
{
border-right:1px solid #E6E6E6;
}
.bottom_line
{
border-bottom:1px solid #E6E6E6;
}
.box_top_bg
{
background:url(images/box_top_bg.gif) left top repeat-x;
height:32px;
}
.lownav{
font:Verdana, Arial, Helvetica, sans-serif ;
font-size:12px;
color: #000000;
text-decoration:none;
}
a.lownav:hover{
font:Verdana, Arial, Helvetica, sans-serif ;
font-size:12px;
color: #CCCCCC;
text-decoration: underline;
}
.tools{
font-size:11px;
color: #9A0000;
text-decoration:none;
}
a.tools:hover{
font-size:11px;
color: #000000;
text-decoration:underline;
}
.totalbdy{
border:solid 1px #CD9967;
padding: inherit;
}
.pixborder{
border:solid 1px #CD9967;
}
.low{border-bottom:solid 1px #CD9967
}
.bottom_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 22px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	background-color:inherit;
	text-decoration: none;
}
.bottom_link:hover
{
color:#CD3333;
text-decoration:underline;
background-color:inherit;
}
.nav_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	background-color:inherit;
	text-decoration: none;
}
.nav_link:hover
{
color:#CD3333;
text-decoration:underline;
background-color:inherit;
}
.service_bottom
{
border-bottom:dotted 1px #BF9F62
}